.join {
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 70px;
}
.join .location {
  text-align: right;
  color: #929292;
  font-size: 14px;
  margin-top: 10px;
}
.join .join_box {
  margin: 0 auto;
  padding-top: 50px;
}

.join .join_box h4 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 50px;
}
.join .join_box .notice {
  display: block;
  text-align: right;
  color: #929292;
  font-size: 14px;
}
.join .join_box .notice::before {
  content: '*';
  color: #FF7F00;
}
.join .join_box .write_box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.join .join_box .write_box .left_box {
  width: 160px;
  font-size: 18px;
  color: #303030;
  font-weight: 500;
}
.join .join_box .write_box .left_box::before {
  content: '*';
  color: #FF7F00;
}
.join .join_box .write_box .alertLog{
  display: block;
  font-size: 14px;
  color: #303030;
  margin-top: 5px;
  margin-left: 3px;
}
.join .join_box .write_box .homeCall::before{
  content: none;
}
.join .join_box .write_box .homeCall {
  margin-left: 6px;
}
.join .join_box .write_box .blank{
  opacity: 0;
}

.join .join_box .write_box .right_box {
  width: 800px;
}
.join .join_box .write_box .right_box input {
  width: 100%;
  border: 1px solid #929292;
  border-radius: 5px;
  padding: 20px;
}
.join .join_box .write_box .right_box .email_domain{
  width: 20%;
  height: 50px;
  border: 1px solid #929292;
  border-radius: 5px;
  color:#303030;
  padding: 10px;
  margin-left: 10px;
  -webkit-appearance:none; 
  -moz-appearance:none;
  appearance:none;
  background: url('../images/arrow_down.png') no-repeat 97% 50%/15px auto;
}
.join .join_box .write_box .right_box .event_box {
  font-size: 14px;
  color:#303030;
  margin-top: 5px;
}
.join .join_box .write_box .right_box .event_box input{
  width: 15px;
}
.join .join_box .postBox {
  margin-top: -25px;
}
.join .join_box .right_box .detail_adress{
  margin-top: -10px;
}
.join .join_box .small .right_box input {
  width: 50%;
  box-sizing: border-box;
}
.join .join_box .small .right_box button {
  height: 50px;
  width: 30%;
  vertical-align: middle;
  background-color: #FED499;
  border: 1px solid #929292;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  box-sizing: border-box;
  margin-left: 15px;
  cursor: pointer;
}


.subjoin .sub_box .write_box .option_box button {
  width:76%;
  float: right;
  height: 50px;
  background-color: #fff;
  border: 1px solid #929292;
  border-radius: 5px;
  font-size: 18px;
  color: #303030;
  cursor: pointer;
  margin-left: 20px;
}
.subjoin .sub_box .write_box .left_box::before {
  content: none;
}
.subjoin .sub_box .write_box .right_box .sub_btn{
  font-size: 20px;
  color: #303030;
}
.subjoin .sub_box .write_box .right_box .sub_btn.active {
  background-color: #ffc992;
  color: white;
  font-weight: bold;
  transform: translateY(0); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
.subjoin .sub_box .write_box .right_box .birthday{
  padding: 20px;
}
.btn_list {
  margin: 60px 0;
  text-align: center;
}
.btn_list button {
  width: 200px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #929292;
  font-size: 18px;
  margin: 0 80px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.btn_list .joinAll {
  background-color: #FED499;
  color: #fff;
  border: 1px solid #929292;
  font-weight: bold;
}

.alertLog {
  font-size: 13px;
  height: 10px;
  display: none;
  text-align: left;
  font-weight: 500;
  margin: 5px;
  color: rgba(210, 56, 56, 0.716);
}
.telling_box {
  width: 30px;
  height: 30px;
  text-align: left;
  position: relative;
  cursor: pointer;
  float: left;
}
.telling_box::after {
  content: "!";
  top: -10px;
  left: 20px;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  font-size: 13px;
  position: absolute;
  text-align: center;
  background-color: red;
}
.telling_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.notice_box {
  float: left;
  font-size: 13px;
  margin-left: 15px;
  margin-top: 5px;
  color: #929292;
}
/********로그인 아이디,비번 알림창*******/

.popUp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s ease;
}
.popUp.active {
  opacity: 1;
  visibility: visible;
}
.popUp .idpw_box{
  width: 300px;
  height: 100px;
  padding: 30px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 3px solid #ff7f00;
}
.popUp .idpw_box .close {
  float: right;
  cursor: pointer;
  transition: all .2s;
}

.popUp .idpw_box .txt {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  display: block;
}
.popUp .idpw_box .txt02{
  margin-top: 20px;
}
.popUp .idpw_box .txt span {
  font-weight: 500;
  color: red;  
}

.popUp .idpw_box .iconil {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 15%;
  bottom: 5%;
}
.popUp .idpw_box .iconil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/********팝업창*******/
