@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap");

/*********** default CSS *************/
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  display: inline;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}



/************ Common CSS **************/
.wrap {
  width: 1070px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
}

.title label,
.title p {
  width: 170px;
  height: 60px;
  line-height: 60px;
  font-weight: 600;
  color: #303030;
  font-size: 26px;
  padding: 0 40px;
}

.indicator {
  width: 240px;
  height: 30px;
  line-height: 30px;
  margin: 10px auto;
}

.indicator label {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  float: left;
  margin: 5px;
}

/************ main_banner **************/
.main_banner {
  height: 500px;
  overflow: hidden;
  position: relative;
}

.main_banner ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* animation: slideshow 30s infinite ease-in-out; */
}
.main_banner .bx-wrapper{
  border: none;
}
.main_banner .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  /* border: 1px solid red; */
  top: 88%;
  left: 40%;
  width: auto;
  height: 40px;
  position: absolute;
}
.main_banner .bx-wrapper .bx-controls.bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-direction a {
  background:url('../images/Arrow-left.png')no-repeat center;
  position:absolute;
}
.main_banner .bx-wrapper .bx-controls.bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-direction .bx-prev {
  left: 15%;
}
.main_banner .bx-wrapper .bx-controls.bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-direction .bx-next {
  right: 15%;
  background:url('../images/Arrow-right.png')no-repeat center;  
} 
.main_banner .bx-wrapper .bx-pager.bx-default-pager a {
  background: #ccc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 20px;
}
.main_banner .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #828282;
}
.main_banner li {
  width: 100%;
  height: 500px;
  float: left;
  display: block;
}

/************ newbest_corner **************/
.newBest_corner {
  overflow: hidden;
}
.wrap .newBest label {
  cursor: pointer;
}
.wrap .newBest label:first-child{
  border-right: 1px solid #ff7f00;
}
.wrap .newBest label.on {
  color: #FF7F00;
}
.newBest_corner ul {
  width: 1070px;
  height: 360px;
  margin-top: 10px;
  display: none;
}
.newBest_corner li{
  width: 260px;
  height: 360px;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
  overflow: hidden;
  margin-right: 10px;
}
.newBest_corner .newItem .newI {
  width: 260px;
  height: 236px;
  position: relative;
}
.newBest_corner .newItem .info_text {
  height: 124px;
  padding: 10px;
  position: relative;
}
.newBest_corner .newItem .info_text p {
  font-weight: 500;
  font-size: 18px;
}
.newBest_corner .newItem .info_text p:first-child {
  width: 240px;
  height: 50px;
  display: block;
  padding-bottom: 20px;
} 
.newBest_corner .newItem .starPrice {
 display: flex;
 justify-content: space-between;
}
.newBest_corner .newItem .starPrice p {
  font-size: 20px;
  font-weight: 600;
}
.newBest_corner .newItem .starScore {
  width: 100px;
  line-height: 35px;
  color: #9C9C9C;
}
.newBest_corner .newItem .star_img {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 5px;
}
.newBest_corner .newItem .starScore p {
  font-size: 14px;
}
.newBest_corner .newItem .starScore p:last-child {
  font-size: 10px;
}

/***** hotdealItem ****/
.newBest_corner .hotdealItem_box {
  display: none;
}
.newItem .hotsaleMark {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-weight: 600;
  background-color:#FF7F00;
  position: absolute;
}
.newItem .saleOriginal{
  position: absolute;
  right: 10px;
  top: 65px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
  color: #9C9C9C;
}
.starPrice .sale_box {
  line-height: 35px;
}
.starPrice .sale{
  font-size: 13px;
  font-weight: 600;
  color: #FF7F00;
}
.starPrice .salePrice{
  font-weight: 600;
  font-size: 20px;
}

.indicator02 {
  width: 250px;  
}
.indicator02 label {
  margin: 10px 15px;
}


/************ popular_box **************/
.popular_box {
  height: 300px;
  overflow: hidden;
  margin-top: 200px;
}
.popular_box .popular_box_title{
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #303030;
}
.popular_box .animals02 {
  float: right;
}
.popular_box .item_icons{
  margin-top: 80px;
  padding:20px;
}
.popular_box .item_icons ul{
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  text-align: center;
}
.popular_box .item_icons li{
  width: 100px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
}
.popular_box .item_icon_img{
  width: 40px;
  height: 50px;
  margin: 0 auto;
}

.popular_box .item_icons li.on {
  color:#ff7f00;
  border-bottom: 1px solid #ff7f00;
  height: 55px;
}
.popular_box .item_icons li img.on {
  filter: invert(69%) sepia(46%) saturate(7002%) hue-rotate(0deg) brightness(103%) contrast(104%);
}

/********** Popular_items *********/
.Popular_items {
  position: relative;
}
.list_title {
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: -50px;
  left: 0;
}
.list_title p:nth-child(2) {
  font-size: 14px;
}
.Popular_items .items_list ul {
  margin-top: 10px;
}
.Popular_items .items_list li{
  width: 260px;
  height: 360px;
  box-sizing: border-box;
  margin-right: 10px;
  overflow: hidden;
  display: inline-block;
  border: 1px solid #d7d7d7;
}
.Popular_items .items_list li:last-child {
  margin: 0;
}
.Popular_items .newItem .newI {
  width: 260px;
  height: 236px;
  position: relative;
}
.Popular_items .newI .Poppop {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-weight: 600;
  background-color:#FF7F00;
  position: absolute;
}
.Popular_items .newItem .info_text {
  height: 124px;
  padding: 10px;
}
.Popular_items .newItem .info_text p {
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  padding-bottom: 20px;
}
.Popular_items .newItem .info_text p:first-child {
  height: 50px;
} 
.Popular_items .newItem .starPrice {
 display: flex;
 justify-content: space-between;
 position: relative;
 height: 40px;
}
.Popular_items .newItem .starPrice .discount {
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}
.Popular_items .newItem .starPrice .original{
  font-size: 16px;
  position: absolute;
  right: 0;
  top:-20px;
  color: #9C9C9C;
  text-decoration: line-through;
}
.Popular_items .newItem .starPrice .sale {
  font-size: 12px;
  color: #FF7F00;
  line-height: 35px;
}
.Popular_items .newItem .starPrice .salePrice{
  font-size: 20px;
  font-weight: bold;
}
.Popular_items .newItem .starScore {
  width: 100px;
  line-height: 35px;
  color: #9C9C9C;
}
.Popular_items .newItem .star_img {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 5px;
}
.Popular_items .newItem .starScore p {
  font-size: 14px;
}
.Popular_items .newItem .starScore p:last-child {
  font-size: 10px;
}

.indicator03 {
  width: 250px;
}
.indicator03 label{
  margin: 15px;
}
.indicator03 label.active {
  background: #828282; 
}

/********** MDbest *********/
.MDbest {
  height: 1010px;
  margin-bottom: 50px;
  overflow: hidden;
}
.MD.title {
  margin-top: 200px;
}
.MDbest01 {
  width: 450px;
  margin-right: 10px;
  background-size: 100%;
  overflow: hidden;
}
.MDbest_list .bx-wrapper {
  width: 450px;
  height: 600px;
  border: none;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}
.MDbest .MDbestother {
  overflow: hidden;
 } 
.MDbest02 {
  width: 610px;
  height: 300px;
  background-image: url('../images/MD02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .3s ease-in;
}
.MDbest03 {
  width: 610px;
  height: 290px;
  background-image: url('../images/MD03.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 10px;  
  transition: all .3s ease-in;
}
 .MDbest02:hover,
 .MDbest03:hover {
  transform: scale(1.1);
 }
 .MDbest_list .MDbottomBanner li {
  width: 1070px;
  height: 420px;
 }


/********** bigDog *********/
.bigDog {
  margin-bottom: 50px;
}
.bigdog.title {
  margin-top: 150px;
}
.bigCategory {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
}
.bigCategory li {
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid #FF7F00;
}
.bigCategory li.on {
  background-color: #FFE397;
  font-weight: bold;
  border-color: white;
}
.bigDog p {
  font-size: 20px;
  padding-bottom: 10px;
}
.bigDog .bigItem_list {
  height: 360px;
  margin-top: 10px;
  display: none;
  justify-content: space-between;
  position: relative;
}
.bigDog .bigItem_list li{
  width: 260px;
  height: 360px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #d7d7d7;
}
.bigDog .newItem .newI {
  width: 260px;
  height: 236px;
}
.bigDog .newItem .info_text {
  height: 124px;
  padding: 10px;
}
.bigDog .newItem .info_text p {
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  padding-bottom: 20px;
}
.bigDog .newItem .info_text p:first-child {
  height: 50px;
} 
.bigDog .newItem .starPrice {
 display: flex;
 justify-content: space-between;
 position: relative;
 height: 40px;
}
.bigDog .newItem .starPrice .discount {
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}
.bigDog .newItem .starPrice .original{
  font-size: 16px;
  position: absolute;
  right: 0;
  top:-20px;
  color: #9C9C9C;
  text-decoration: line-through;
}
.bigDog .newItem .starPrice .sale {
  font-size: 12px;
  color: #FF7F00;
  line-height: 35px;
}
.bigDog .newItem .starPrice .salePrice{
  font-size: 20px;
  font-weight: bold;
}
.bigDog .newItem .starScore {
  width: 100px;
  line-height: 35px;
  color: #9C9C9C;
}
.bigDog .newItem .star_img {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 5px;
}
.bigDog .newItem .starScore p {
  font-size: 14px;
}
.bigDog .newItem .starScore p:last-child {
  font-size: 10px;
}

.indicator04 {
  width: 250px;
}
.indicator04 label {
  margin: 0 15px;
}
.indicator04 label.active {
  background: #828282;
}


/********** Review *********/
.review.title {
  margin-top: 150px;
}
.review_more_btn {
  text-align: right;
  font-weight: 400;
  color: #828282;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 10px;
}
.reviews_box {
  height: 500px;
  margin-bottom: 100px;
  position: relative;
}
.reviews_box ul {
  width: 1070px;
  height: 500px;
  float: left;
}
.reviews_box li {
  width: 280px;
  height: 470px;
  margin-right: 10px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #D7D7D7;
}
.reviews_box .review_pic{
  width: 280px;
  height: 325px;
}
.reviews_box .review_txt {
  padding: 10px;
  text-align: left;
}
.reviews_box .id_date_box {
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-size: 14px;
}
.reviews_box .review_stars {
  width: 25px;
  height: 25px;
  padding: 3px 0;
  display: flex;
  justify-content: start;
}
.reviews_box .review_title {
  font-weight: 600;
  font-size: 16px;
  display: block;
}
.reviews_box .review_detail_txt {
  font-weight: 400;
  font-size: 14px;
  color: #828282;
}

.reviews_box .slick-arrow {
  position: absolute;
  top: 150px;
  border: none;
  filter: brightness(0) invert(1);
  z-index: 10;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-indent: -9999px;
}
.reviews_box .slick-next {
  left: 20px;
  background: url('../images/double-arrow-left.png');
}
.reviews_box .slick-prev {
  right: 20px;
  background: url('../images/double-arrow-right.png')no-repeat center;
}
.reviews_box .slick-dots {
  position: absolute;
  bottom: -20px;
  height: 30px;
  text-align: center;
}
.reviews_box .slick-dots li {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border: none; 
  display: inline-block;
}
.reviews_box .slick-dots li button{
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border: none; 
  border-radius: 50%; 
  cursor: pointer; 
  font-size: 0;
}
.reviews_box .slick-dots li.slick-active button{
  background-color: #828282; 
  border-radius: 50%;
  cursor: pointer; 
  z-index: 10;
}



