/*********** default CSS *************/
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  display: inline;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

/************ Common CSS **************/
.wrap {
  width: 1070px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.title label,
.title p {
  width: 170px;
  height: 60px;
  line-height: 60px;
  font-weight: 600;
  color: #303030;
  font-size: 26px;
  padding: 0 40px;
}

/************ location **************/
.location {
  width: 1070px;
  height: 55px;
  line-height: 55px;
  margin: 0 auto;
}
.location ul {
  display: flex;
  justify-content: flex-start;
}
.location ul li {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #303030;
}
.location ul a:first-child {
  padding-left: 70px;
}
.location ul a:last-child li {
  font-weight: 600;
}
.location ul li::after {
  content: ">";
  font-size: 25px;
  padding: 0 50px;
}
.location ul a:last-child li::after {
  content: none;
}

/************ main_img_banner **************/
.main_img_banner .main_img_box {
  height: 250px;
  position: relative;
}
.main_img_banner .main_img_box::after {
  content: "";
  width: 100%;
  height: 250px;
  display: block;
  background-color: rgba(0, 0, 0, 0.144);
  position: absolute;
  top: 0;
}

.main_img_banner .main_img_box p {
  position: absolute;
  left: 50%;
  top: 40%;
  font-size: 32px;
  color: white;
  font-weight: 600;
  z-index: 1;
}

/************ detail_menu **************/
.detail_menu {
  overflow: hidden;
}
.detail_menu ul {
  float: left;
  padding: 40px;
  font-weight: 500;
  color: #303030;
}
.detail_menu ul li {
  width: 150px;
  height: 50px;
  border: 1px solid #ff7f00;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  box-sizing: border-box;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.detail_menu ul li.on,
.detail_menu ul li:hover {
  background-color: #fed499;
  border-color: white;
  color: white;
}

/************ total_filter **************/
.total_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #303030;
}
.total_box {
  flex-grow: 5;
  font-size: 20px;
}
.filter_box {
  position: relative;
  z-index: 10;
}
.filter_box .filter-list.open  {
  display: block;
}
.filter_box .filter-list {
  position: absolute;
  top: 30px;
  display: none;
  background-color: white;
}

.filter-list02 {
  left: 90px;
  width: 50%;
  display: none;
  position: absolute;
}
.filter-list02.open {
  display: block;
}

.filter_box > button {
  border: none;
  padding: 5px 15px;
  box-sizing: border-box;
}
.filter_box .filter-list button,
.filter-list02 button{
  display: block;
  padding: 5px 10px;
  width: 100%;
  border: 0.5px solid #b5b5b5;
}
/************ filter_box**************/

/************ products_box **************/
.products_box {
  overflow: hidden;
  padding-top: 30px;
}
.products_box .product_list {
  /* display: none; */
}
.products_box .product_list li {
  width: 340px;
  height: 490px;
  overflow: hidden;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
}
.products_box .product_list .product_img {
  width: 340px;
  height: 317px;
  position: relative;
}
.products_box .product_list .product_img .img02 {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.products_box .product_list .product_img i {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
  color: white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #d7d7d779;
  border-radius: 50%;
  padding-top: 5px;
}
.products_box .product_list .product_img i:hover {
  color: #ffa750;
}
.products_box .product_list .info_text {
  padding: 10px;
  height: 170px;
  box-sizing: border-box;
  position: relative;
}
.products_box .product_list .info_text .product_title {
  width: 310px;
  height: 40px;
  display: block;
  font-weight: 500;
  font-size: 18px;
}
.products_box .product_list .price_box {
  width: 150px;
  height: 50px;
  padding-top: 20px;
}
.products_box .product_list .original {
  color: #9c9c9c;
  text-decoration: line-through;
  font-weight: 500;
  font-size: 16px;
}
.products_box .product_list .sale_box .sale {
  color: #ff7f00;
  font-weight: 500;
}
.products_box .product_list .salePrice {
  font-size: 20px;
  font-weight: 600;
}
.products_box .product_list .post {
  font-size: 14px;
  font-weight: 500;
  color: #9c9c9c;
}
.products_box .product_list .total_post_box {
  width: 320px;
  position: absolute;
  bottom: 10px;
}
.products_box .product_list .star_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products_box .product_list .star_cart .star_score {
  color: #9c9c9c;
  font-weight: 500;
}
.products_box .product_list .star_cart .star_img {
  width: 25px;
  height: 25px;
  float: left;
}
.products_box .product_list .star_cart .score {
  font-size: 14px;
  padding: 0 3px;
}
.products_box .product_list .star_cart .reviews {
  font-size: 16px;
}
.products_box .product_list .star_cart .cartadd_img {
  width: 40px;
  height: 40px;
}

/************ page_box **************/
.page_box {
  height: 150px;
  position: relative;
}
.page_box .pageList_box {
  position: absolute;
  left: 32%;
  top: 20%;
}
.page_box .page_list {
  width: 450px;
  line-height: 20px;
}
.page_box .page_list li {
  padding: 0 20px;
  font-size: 24px;
}
.page_box .arrow_box a {
  float: left;
}
.page_box .arrow_box .arrow_img {
  width: 30px;
  height: 30px;
  margin: 0 30px;
}
.page_box .page_list .left,
.page_box .page_list .right {
  width: 20px;
  height: 20px;
  line-height: 25px;
}
.page_box .page_list label {
  height: 30px;
  float: left;
}
.page_box .page_list label.on {
  font-weight: bold;
  border-bottom: 1px solid #9c9c9c;
}
.page_box .page_list .number:hover {
  height: 30px;
  font-weight: bold;
}
