.login {
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
.login .location {
  text-align: right;
  color: #929292;
  font-size: 14px;
  margin-top: 10px;
}
.login .login_box {
  width: 600px;
  padding: 80px;
  margin: 0 auto;
  position: relative;
}
.login .login_box > h4 {
  font-size: 30px;
  margin-bottom: 30px;
}
.login .login_box input {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #929292;
  box-sizing: border-box;
  padding: 30px;
  margin-top: 30px;
}
.login .login_box input::placeholder {
  font-size: 18px;
  color: #303030;
}
.login .login_box .check_find_box {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #929292;
  font-size: 14px;
}
.login .login_box .check_find_box .idCheck {
  height: 85px;
}
.login .login_box .check_find_box .idCheck > input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.login .login_box .check_find_box .idFind p {
  cursor: pointer;
}
.login .login_box .check_find_box .IdFind::after {
  content: "|";
  color: #929292;
  padding: 0 10px;
}
.login .login_box .loginBtn,
.login .login_box .joinBtn {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #929292;
  border-radius: 5px;
  font-size: 20px;
  color: #303030;
  cursor: pointer;
}
.login .login_box .loginBtn {
  background-color: #fed499;
  color: #fff;
  font-weight: 600;
}
.login .simpleLogin_box {
  margin-top: 40px;
}
.login .simpleLogin_box h4 {
  font-size: 28px;
  margin-bottom: 10px;
}
.login .simpleLogin_box p {
  font-size: 14px;
  color: #929292;
}
.login .simpleLogin_box ul {
  margin-top: 20px;
}
.login .simpleLogin_box ul li {
  display: inline-block;
  margin: 0 30px;
}
.login .simpleLogin_box .sns_icon {
  width: 60px;
  height: 60px;
}
.login .simpleLogin_box li:last-child .sns_icon {
  background: #e9e9e9;
  border-radius: 50%;
}

.alertLog {
  font-size: 13px;
  height: 10px;
  display: none;
  text-align: left;
  font-weight: 500;
  margin: 5px;
  color: rgba(210, 56, 56, 0.716);
}
.telling_box {
  width: 30px;
  height: 30px;
  text-align: left;
  position: relative;
  cursor: pointer;
  float: left;
}
.telling_box::after {
  content: "!";
  top: -10px;
  left: 20px;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  font-size: 13px;
  position: absolute;
  text-align: center;
  background-color: red;
}
.telling_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.notice_box {
  float: left;
  font-size: 13px;
  margin-left: 15px;
  margin-top: 5px;
  color: #929292;
}
/********로그인 아이디,비번 알림창*******/
.popUp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s ease;
}
.popUp.active {
  opacity: 1;
  visibility: visible;
}
.popUp .idpw_box{
  width: 300px;
  height: 150px;
  padding: 30px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 3px solid #ff7f00;
}
.popUp .idpw_box .close {
  float: right;
  cursor: pointer;
  transition: all .2s;
}

.popUp .idpw_box .txt {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  display: block;
}
.popUp .idpw_box .txt span {
  font-weight: 500;
  color: red;  
}
.popUp .idpw_box .txt .txt02 {
  font-size: 14px;
  color: #ff7f00;
}

.popUp .idpw_box .iconil {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 15%;
  bottom: 5%;
}
.popUp .idpw_box .iconil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

